body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.lmvt-container {
    height: 100%;
    width: 100%;
    padding: 3px 5px;
}

.lmvt-container-header-btn {
    height: 45px;
    width: 100%;
    padding: 10px 10px 0px;
    text-align: center;
}

.lmvt-container-table {
    width: 100%;
    height: 100%;
    margin-top: -45px;
    padding: 50px 10px 5px 10px;
}

.lmvt-container-main-exception {
    float: left;
    width: 100%;
    height: 100%;
}

.lmvt-container-main-photo {
    float: left;
    width: 100%;
    height: 100%;
}


.lmvt-show-photo{
    width: 100%;
    height: 100%;
    padding-bottom: 57px;
}

.lmvt-bottom{
    position: fixed;
    bottom: 10px;
    width: 100%;
    height:47px;
}

.lmvt-bottom-left{
    float: right;
    width:50%;
}

.lmvt-bottom-right{
    float: left;
    width:50%;
}
.lmvt-container-typt-exception {
    float: right;
    width: 30%;
    height: 100%;
}
.icon{
    display:inline-block;
    width:15px;
    height:15px;
}
*{
    list-style:none;
}
.icon-right{
    background-size:70%;
}
.cby-tb-border{
    width: 100%;
    height: 100%;
    margin-top:-45px;
    padding: 50px 10px 10px 5px;
}
.cby-contain-cbg{
    height: 45px;
    text-align: center;
    width: 100%;
    padding: 10px 10px 0px;
}  
.cby-tb-title,.cby-timeline-title{
    font-family: STXinwei;
    font-size: 20px;
    color: #00688B;
    width: 200px;
    line-height: 40px;
    cursor: default;
    text-align: center;
    margin: auto;
    height: 40px;
}
.up-info{
    width:100%;
    height:50%;
}
.down-info{
    width:100%;
    height:50%;
    /*border:1px solid #e5e5e5;
    border-radius:10px;
    box-shadow:inset 0 3px 6px rgba(0,0,0,.05);*/
}
.task-table{
    width: auto;
    height: 100%;
    overflow: auto;
}
.call-right-info{
    width: 400px;
    height: 100%;
    float:right;
}
.header{
    font-family: STXinwei;
    font-size: 20px;
    color: #00688B;
    width: 200px;
    line-height: 40px;
    cursor: default;
    text-align: center;
    margin: auto;
    height: 40px;
}
.call-info-body{
    width: 100%;
    height: 100%;
    margin-top: -45px;
    padding: 50px 10px 10px 10px;
}
.cby-contain-cbg-down{
    position:absolute;
    right:22px;
    border: 1px solid #d3d3d3d9;
    border-radius: 5px;
    background-color: ghostwhite;
}
.div-canvas{
    width:100%;
    height:100%;
    overflow:auto;
}
.cby-tb-title-call{
    font-family: STXinwei;
    font-size: 20px;
    color: #00688B;
}
.call-info-header{
    height: 38px;
    font-size: 14px;
    width: 100%;
    font-weight: bold;
    padding: 13px 5px 9px 12px;
    border: 1px solid lightgrey;
    background-color: #99999912
}
.call-info-deal{
    background-color: #9999992b;
}
.call-info-title{
    font-family: STXinwei;
    font-size: 18px;
    color: rgb(0, 104, 139);
    width: 200px;
    margin: auto;
}
/*.call-info-item-title img{
    width:18px;
    height:18px;
    margin: 1.37px 1.37px 1.37px 0;
}*/
.call-info-list{
    width:100%;
    display: -webkit-flex;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    border:1px solid lightgrey;
}
.call-info-list li{
    font-size:12px;
    font-weight:bold;
}
.call-info-list li span{
    font-size:12px;
    font-weight:normal;
    margin-left:8px;
}
.deal-info-items-list{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding:7px 10px;
}
.deal-info-items{
     width:100%;
     border:1px solid lightgrey;
     /*margin-top:10px;*/
}
.deal-info-items-list .deal-info-time{
    width:50%;
}
.deal-info-items-list .deal-info-operator{
    width:30%;
}
.deal-info-items-list .deal-info-status{
    width:20%;
}

.call-info-lists{
    overflow:-webkit-paged-y;
    padding:0px;
    border: 1px solid #a9a9a96b;
}
.call-info-lists .call-info-item-title{
    background-color:rgba(204, 204, 204, 0.18);
    height:30px;
    font-weight:bold;
    padding:7px 30px;
}
.call-info-lists .call-info-item-all{
    height:40px;
    padding:12px 30px;
}
.deal-info-items-first-down ul{
    padding:2px;
}
.deal-info-items-first-down{
    background-color:rgba(204, 204, 204, 0.13);
    display:none;
    padding:0px;
}
.call-info-items{
    width: 100%;
    border: 1px solid lightgrey;
    padding: 0px;
    /*margin-top: 10px;*/
    background-color:white;
}
.call-info-items-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0px 10px;
}
.item{
    display:flex;
    flex-direction:row;
}
.item label{
    margin:0px;
    padding:9px 7px;
}
#deal-info-items-last-down{
    margin: 0px -27px;
    padding:0px;
}
.call-info-all .deal-info-items-last-down{
    margin-bottom: 5px;
}
.deal-info-items-last-down{
    display:none;
    padding:0px 4px 4px 4px;
    margin:0px;
}
#down-menu-screen-magnify img{
    width:20px;
    height:20px;
}
.call-info-item-image{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.image-show{
    height:100px;
    width:100px;
    padding:5px;
}

