<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>权限管理</title>
  <link href="../static/utils/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="../static/utils/css/base.css" rel="stylesheet" type="text/css"/>
  <link href="../static/utils/css/element-ui.css" rel="stylesheet" type="text/css"/>
  <link href="../static/css/common/fzy/element-cover.css" rel="stylesheet" type="text/css"/>
  <link href="../static/css/common/fzy/common.css" rel="stylesheet" type="text/css"/>
  <link href="../static/utils/css/jquery.treeview.css" rel="stylesheet" type="text/css">
  <link href="../static/css/basicSet/PowerManagement-Vue.css" rel="stylesheet" type="text/css"/>

</head>

<body>

<div id="postManagement-body" class="fzy-page">

  <fzy-popup-form ref="myPopupForm"></fzy-popup-form>

  <div class="fzy-search-bar">
    <el-input v-model="customSearchData.Name" class="input-box-300" placeholder="权限名称">
      <template slot="prepend">权限名称</template>
    </el-input>

    <div class="input-select-box input-box-200">
      <div class="label">状态</div>
      <el-select v-model="searchData.Active" clearable placeholder="请选择">
        <el-option label="全部" value="-1"></el-option>
        <el-option label="激活" value="1"></el-option>
        <el-option label="关闭" value="2"></el-option>
        <el-option label="保存" value="0"></el-option>

      </el-select>
    </div>

    <div class="button-box">
      <button class="btn lmvt-danger-btn" style="border: 0" type="button" @click="search">
        <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
        查询
      </button>

      <button
          class="btn lmvt-def-btn"
          type="button"
          @click="emptyClick"
      >
        <span aria-hidden="true" class="glyphicon glyphicon-repeat"></span>
        重置
      </button>
    </div>


  </div>

  <div v-cloak class="fzy-page-center-box center-box">
    <div class="fzy-page-center-box left flex-column flex-a-start">
      <span class="fzy-title flex-none cursor-p" id="showAllTree">权限树</span>
      <div
          id="roleTree"
          class="flex-1 femi-left-tree treeview-famfamfam treeview"
          style="font-size: 19px"
      ></div>
    </div>
    <div class="fzy-page-center-box right">
      <div class="fzy-page-center-title-bar">
        <div class="left">
          <span class="fzy-title">权限管理</span>
        </div>
        <div class="right">
          <button v-if="jurisdiction" class="btn lmvt-danger-btn" type="button" @click="addClick">
            <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>添加
          </button>
        </div>
      </div>
      <el-table
          :data="tableShow"
          size="mini"
          border
          current-row-key="Code"
          height="calc(100% - 45px)"
      >
        <el-table-column label="序号" type="index" width="50px" align="center"></el-table-column>
        <el-table-column label="权限名称" property="Text" align="center"></el-table-column>
        <el-table-column label="权限ID" property="FunctionID" align="center"></el-table-column>
        <el-table-column label="上级权限ID" property="RoleID" align="center"></el-table-column>
        <el-table-column label="路径" property="Path" align="center"></el-table-column>
        <el-table-column label="顺序" property="UserID" align="center"></el-table-column>


        <el-table-column label="状态" align="center" width="80px">
          <template slot-scope="scope">
            <el-switch
                :value="scope.row.TypeID | switchStatus"
                active-color="#0ea9f7"
                inactive-color="#cccccc"
                @change="activeChange(scope.row)"
                :disabled="!jurisdiction"
            >
            </el-switch>
          </template>
        </el-table-column>

        <el-table-column label="操作" align="center" width="120px" v-if="jurisdiction">
          <template slot-scope="scope">
            <div
                class="col-md-6 lmvt-do-info lmvt-resetPencil"
                @click="editClick(scope.row)"
            >
              <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
              编辑
            </div>
            <div
                :class="{forbidden:scope.row.TypeID !== 0}"
                class="col-md-6 lmvt-do-info lmvt-delete fzy-text-btn"
                @click="removeClick(scope.row)"
            >
              <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
              删除
            </div>
          </template>
        </el-table-column>


      </el-table>
    </div>

  </div>

</div>


<script src="../static/utils/require.js" type="text/javascript"></script>
<script src="../static/js/basicSet/PowerManagement-Vue.js" type="text/javascript"></script>
</body>

</html>
