
.el-radio-button__inner {
	height: 34px !important;
	padding: 9px 20px;
}

#deviceManage-body{
	height: 100vh;
}

.fzy-page-center-box{
	display: flex;
	flex-direction: column;
	height: 0;
}


/*
.el-table{
	font-size: 12px !important;
	color: #000;
}
.el-table thead{
	color: #000;
}
.el-table th{
	background-color: #e0e0e0;
	border-color:rgb(203, 203, 203);
}

.el-table td{
	border-color:rgb(203, 203, 203);
}
.el-table--border{
	border:1px solid rgb(203, 203, 203);
}
.el-table--enable-row-hover .el-table__body tr > td{
	transition: 0ms;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
	background-color: rgb(249, 196, 83) !important;
}*/
