<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>生产入库</title>
    <link rel="stylesheet" type="text/css" href="../static/utils/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../static/utils/css/base.css" />
    <link rel="stylesheet" type="text/css" href="../static/utils/css/search-top.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/product_plan/LOCOOrder.css" />
</head>

<body class="femi-font-size-middle">
    <div id="lmvt-vueApp" class="zace-cbd-contain">

        <div v-show="ReStoreTas" class="zace-leftContain">

            <!-- <div class="ds-search-top" style="margin: 0 0 5px;">
                <div class="ds-search-top-contain" data-show-mode="0">

                    <div class="ds-search-item-group">
                        <div class="ds-search-item-lable">车间</div>
                        <select v-model="WorkShopID" id="WorkShopSelect" readonly class="form-control width200"
                            placeholder="车间">
                            <option v-for="item in WorkShopList" :value="item.ID">{{item.Name}}</option>
                        </select>
                    </div>

                    <div class="ds-search-item-group">
                        <div class="ds-search-item-lable">订单号</div>
                        <input v-model="ComNo" id="" class="form-control width200" placeholder="订单号">
                    </div>

                    <div class="ds-search-item-group">
                        <div class="ds-search-item-lable">时间段</div>
                        <input id="lmvt-startTime" v-model="StartTime" readonly class="form-control width200"
                            placeholder="请选择开始时间">
                        <input id="lmvt-endTime" v-model="EndTime" readonly class="form-control width200"
                            placeholder="请选择结束时间">
                    </div>

                    <div class="btn-group ds-search-item-group ds-search-btn-group" role="group">
                        <button type="button" @click="refresh" id="lmvt-search"
                            class="btn lmvt-danger-btn lmvt-default-btn">
                            查询
                        </button>
                        <button type="button" @click="reset" id="lmvt-reset"
                            class="btn btn-default lmvt-default-btn lmvt-def-btn">
                            重置
                        </button>
                        <button type="button" id="lmvt-resetZK" class="btn btn-default lmvt-default-btn lmvt-def-btn"
                            style="display: none;">
                            展开<img src="../static/images/checkbox/下拉箭头.png" style="width: 15px;height: 15px;">
                        </button>
                        <button type="button" id="lmvt-resetSQ" class="btn btn-default lmvt-default-btn lmvt-def-btn"
                            style="display: none;">
                            收起<img src="../static/images/checkbox/上拉箭头.png" style="width: 15px;height: 15px;">
                        </button>
                    </div>
                </div>
            </div> -->

            <div v-show="GradeISShow" class="zzza zace-cbd-contain ds-contain-top">

                <div class="zace-tree-header" style="overflow:visible;">
                    <div class="femi-toolbar-self femi-lf">
                        <div class="btn-group" role="group">
                            <button type="button" @click="getRestoreList()" id="zace-add-levelOrder"
                                class="btn lmvt-danger-btn">
                                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>入库记录
                            </button>
                            <!--<button type="button" @click="ERPSourceShow" class="btn lmvt-def-btn">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>订单同步
                            </button> -->
                            <!-- <button type="button" id="zace-edit-levelOrder" class="btn btn-default ">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
                                </button> -->
                            <!-- <button type="button" id="zace-edit-levelOrderSearch" class="btn lmvt-def-btn">
                                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>订单列表
                            </button> -->

                        </div>

                    </div>

                    <div class="columns columns-right btn-group pull-right">

                        <button type="button" class="btn lmvt-def-btn" style="padding: 0">
                            <input v-on:keyup.enter="searchLevel" type="text" id="zace-search"
                                style="border:none; border-radius:4px; margin: 0;padding: 6px 12px; outline: none;"
                                placeholder="请输入筛选字符" />
                        </button>
                        <button @click="searchlevelProGrade" type="button" id="zace-search-levelPro"
                            class="btn lmvt-def-btn">
                            <span class="glyphicon " aria-hidden="true"></span>筛选
                        </button>


                    </div>

                    <span class="zace-header-title">入库列表</span>
                </div>
                <!-- style="margin-top: -90px; padding: 95px 10px 15px;" -->
                <div class="zace-tree-body femi-contain-border">
                    <div class="femi-tb-scroll">
                        <table class="table table-hover table-bordered table-partApproval">
                            <thead>
                                <tr>
                                    <!-- <th style="width: 3px;display: none;">
                                        <input type="checkbox" class="femi-tb-checkbox" style="margin: 1px 0px 1px"
                                            value="{{functionID}}" />
                                    </th> -->
                                    <!--<th style="min-width:50px" data-order="WID">序号</th>-->
                                    <th style="min-width: 50px" data-order="WID">序号</th>
                                    <th style="min-width: 60px" data-order="LineName">产线</th>
                                    <th style="min-width: 60px" data-order="OrderNo">订单</th>
                                    <th style="min-width: 70px" data-order="MaterialName">物料名称</th>
                                    <th style="min-width: 70px" data-order="MaterialNo">物料编码</th>
                                    <th style="min-width: 50px" data-order="FQTYTotal">入库数量</th>
                                    <th style="min-width: 50px" data-order="Status">状态</th>
                                    <th style="min-width: 50px" data-order="CreateTime">创建时间</th>

                                    <th style="min-width: 80px" data-order="Handle">操作</th>
                                </tr>
                            </thead>
                            <tbody id="femi-riskLevelOrder-tbody" class="table-color">
                                <tr v-for="item in Grade">

                                    <td data-title="WID" :data-value=item.WID>{{item.WID}}</td>
                                    <td data-title="LineName" :data-value=item.LineName>{{item.LineName}}
                                    </td>
                                    <td data-title="OrderNo" :data-value=item.OrderNo>{{item.OrderNo}}</td>

                                    <td data-title="MaterialName" :data-value=item.MaterialName>{{item.MaterialName}}
                                    </td>
                                    <td data-title="MaterialNo" :data-value=item.MaterialNo>{{item.MaterialNo}}
                                    </td>
                                    <td data-title="FQTYTotal" :data-value=item.FQTYTotal>{{item.FQTYTotal}}</td>
                                    <td data-title="Status" :data-value=item.Status><span
                                            class="badge lmvt-badge lmvt-warningBadge">{{item.badge}}</span>{{StatusMenu[item.Status]}}
                                    </td>
                                    <td data-title="CreateTime" :data-value=item.CreateTime>{{item.CreateTime}}</td>

                                    <td :data-value=item.ID>
                                        <div class="row">
                                            <div @click="getOrderInfo(item)" class="col-md-12 lmvt-lookinfo">
                                                开始入库
                                            </div>
                                            <!-- <div @click.stop="ChangeTableTR(item.ID)" class="col-md-4 lmvt-lookinfo">修改
                                            </div>
                                            <div v-if="item.FQTYPlan<=0" @click.stop="deleteTableInfo(item.ID)"
                                                class="col-md-4 lmvt-allowed-delete">删除</div>
                                            <div v-else class="col-md-4 lmvt-not-allowed-delete">删除</div> -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div v-show="GradeItemISShow" class="zzza zace-cbd-contain ds-contain-mid"
                style="width: 30%;float: right;padding:0px 5px;background-color: #FFF;">

                <div class="zace-tree-header" style="overflow:visible;">
                    <span class="zace-header-title">入库详情</span>
                    <div class="columns columns-right btn-group pull-right">
                        <button type="button" @click="Save" id="lmvt-save" class="btn lmvt-danger-btn"><span
                                aria-hidden="true" class="glyphicon glyphicon-ok"></span>保存
                        </button>
                    </div>
                </div>

                <div class="" style="height: 70px;">
                    <form role="form">
                        <div class="form-group">
                            <label for="name">工作号</label>
                            <select data-live-search="true" type="text" class="form-control" id="WorkNoSelect">
                                <option v-for="item in WorkNoList" :value=item.WorkNo>{{item.WorkText}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="" style="height:calc(100% - 150px)">
                    <div class="form-group">
                        <label style="width: 100%;padding-right: 10px;" for="name">仓库仓位信息
                            <button style="float: right;" @click="StockAdd()" type="button" id="lmvt-add"
                                class="btn lmvt-danger-btn"><span aria-hidden="true"
                                    class="glyphicon glyphicon-plus"></span>新增
                            </button>
                        </label>

                        <div class="femi-tb-scroll">
                            <table class="table table-bordered table-partApproval">
                                <thead>
                                    <tr>
                                        <th style="min-width: 50px" data-order="WID">序号</th>
                                        <th style="min-width: 60px" data-order="StockName">仓库名称</th>
                                        <th style="min-width: 60px" data-order="LocationName">仓位名称</th>
                                        <th style="min-width: 70px" data-order="StockStatusID">物料状态</th>
                                        <th style="min-width: 70px" data-order="FQTY">数量</th>
                                        <th style="min-width: 80px" data-order="Handle">操作</th>
                                    </tr>
                                </thead>
                                <tbody id="" class="table-color">
                                    <tr v-for="item in StoreList">
                                        <td data-title="WID" :data-value=item.WID>{{item.WID}}</td>
                                        <td data-title="StockName" :data-value=item.StockName>{{item.StockName}}
                                        </td>
                                        <td data-title="LocationName" :data-value=item.LocationName>
                                            {{item.LocationName}}
                                        </td>
                                        <td data-title="StockStatusID" :data-value=item.StockStatusID>
                                            {{StatusNameList[item.StockStatusNo]}}
                                        </td>
                                        <td data-title="FQTY" :data-value=item.FQTY>{{item.FQTY}}
                                        </td>
                                        <td :data-value=item.ID>
                                            <div class="row">
                                                <div @click.stop="ChangeStoreList(item.WID)"
                                                    class="col-md-6 lmvt-lookinfo">
                                                    修改
                                                </div>
                                                <div @click.stop="DeleteStoreList(item.WID)"
                                                    class="col-md-6 lmvt-do-forbidden">
                                                    删除
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div v-show="ReStoreHis" class="zace-leftContain RestoreList">

            <div class="ds-search-top" style="margin: 0 0 5px;">
                <div class="ds-search-top-contain" data-show-mode="0">

                    <div class="ds-search-item-group">
                        <div class="ds-search-item-lable">时间段</div>
                        <input id="lmvt-startTime" v-model="StartTime" readonly class="form-control width200"
                            placeholder="请选择开始时间">
                        <input id="lmvt-endTime" v-model="EndTime" readonly class="form-control width200"
                            placeholder="请选择结束时间">
                    </div>

                    <div class="btn-group ds-search-item-group ds-search-btn-group" role="group">
                        <button type="button" @click="getRestoreList" id="lmvt-search"
                            class="btn lmvt-danger-btn lmvt-default-btn">
                            查询
                        </button>
                        <button type="button" @click="reset" id="lmvt-reset"
                            class="btn btn-default lmvt-default-btn lmvt-def-btn">
                            重置
                        </button>
                        <button type="button" id="lmvt-resetZK" class="btn btn-default lmvt-default-btn lmvt-def-btn"
                            style="display: none;">
                            展开<img src="../static/images/checkbox/下拉箭头.png" style="width: 15px;height: 15px;">
                        </button>
                        <button type="button" id="lmvt-resetSQ" class="btn btn-default lmvt-default-btn lmvt-def-btn"
                            style="display: none;">
                            收起<img src="../static/images/checkbox/上拉箭头.png" style="width: 15px;height: 15px;">
                        </button>
                    </div>
                </div>
            </div>

            <div class="zzza zace-cbd-contain His-contain-top"
                style="width: 100%;float: left;padding:0px 5px;height: calc(100% - 70px);">

                <div class="zace-tree-header" style="overflow:visible;">
                    <div class="femi-toolbar-self femi-lf">
                        <div class="btn-group" role="group">
                            <button type="button" @click="Hisback()" id="zace-add-levelOrder"
                                class="btn lmvt-danger-btn">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>返回
                            </button>
                        </div>

                    </div>

                    <div class="columns columns-right btn-group pull-right">

                        <button type="button" class="btn lmvt-def-btn" style="padding: 0">
                            <input v-on:keyup.enter="searchLevelHis" type="text" id="zace-searchHis"
                                style="border:none; border-radius:4px; margin: 0;padding: 6px 12px; outline: none;"
                                placeholder="请输入筛选字符" />
                        </button>
                        <button @click="searchlevelProGradeHis" type="button" id="zace-search-levelPro"
                            class="btn lmvt-def-btn">
                            <span class="glyphicon " aria-hidden="true"></span>筛选
                        </button>


                    </div>

                    <span class="zace-header-title">入库记录</span>
                </div>
                <!-- style="margin-top: -90px; padding: 95px 10px 15px;" -->
                <div class="zace-tree-body femi-contain-border">
                    <div class="femi-tb-scroll">
                        <table class="table  table-hover table-bordered table-partApproval">
                            <thead>
                                <tr>
                                    <th style="min-width: 50px" data-order="WID">序号</th>
                                    <th style="min-width: 60px" data-order="LineName">产线</th>
                                    <th style="min-width: 60px" data-order="OrderNo">订单</th>
                                    <th style="min-width: 70px" data-order="MaterialName">物料名称</th>
                                    <th style="min-width: 70px" data-order="MaterialNo">物料编码</th>
                                    <th style="min-width: 50px" data-order="FQTYTotal">入库数量</th>
                                    <th style="min-width: 50px" data-order="Status">状态</th>
                                    <th style="min-width: 50px" data-order="CreateTime">创建时间</th>

                                    <th style="min-width: 80px" data-order="Handle">操作</th>
                                </tr>
                            </thead>
                            <tbody id="femi-riskLevel-tbody" class="table-color">
                                <tr v-for="item in GradeHis">

                                    <td data-title="WID" :data-value=item.WID>{{item.WID}}</td>
                                    <td data-title="LineName" :data-value=item.LineName>{{item.LineName}}
                                    </td>
                                    <td data-title="OrderNo" :data-value=item.OrderNo>{{item.OrderNo}}</td>

                                    <td data-title="MaterialName" :data-value=item.MaterialName>{{item.MaterialName}}
                                    </td>
                                    <td data-title="MaterialNo" :data-value=item.MaterialNo>{{item.MaterialNo}}
                                    </td>
                                    <td data-title="FQTYTotal" :data-value=item.FQTYTotal>{{item.FQTYTotal}}</td>
                                    <td data-title="Status" :data-value=item.Status><span
                                            class="badge lmvt-badge lmvt-activeBadge">{{item.badge}}</span>{{StatusMenu[item.Status]}}
                                    </td>
                                    <td data-title="CreateTime" :data-value=item.CreateTime>{{item.CreateTime}}</td>

                                    <td :data-value=item.ID>
                                        <div class="row">
                                            <div @click="getHisInfo(item)" class="col-md-12 lmvt-lookinfo">
                                                详情
                                            </div>
                                            <!-- <div @click.stop="ChangeTableTR(item.ID)" class="col-md-4 lmvt-lookinfo">修改
                                            </div>
                                            <div v-if="item.FQTYPlan<=0" @click.stop="deleteTableInfo(item.ID)"
                                                class="col-md-4 lmvt-allowed-delete">删除</div>
                                            <div v-else class="col-md-4 lmvt-not-allowed-delete">删除</div> -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div v-show=GradeItemHis class="zzza zace-cbd-contain His-contain-mid"
                style="width: 30%;float: right;padding:0px 5px;background-color: #FFF;height: calc(100% - 70px);">

                <div class="zace-tree-header" style="overflow:visible;">
                    <span class="zace-header-title"><span>{{HisMaterialName}}</span>入库详情</span>
                    <div class="columns columns-right btn-group pull-right">
                        <!-- <button type="button" @click="Save" id="lmvt-save" class="btn lmvt-danger-btn"><span
                                aria-hidden="true" class="glyphicon glyphicon-ok"></span>保存
                        </button> -->
                    </div>
                </div>

                <div class="" style="height: 70px;">
                    <form role="form">
                        <div class="form-group">
                            <label for="name">工作号</label>
                            <input readonly v-model="WorkNoHis" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="" style="height:calc(100% - 150px)">
                    <div class="form-group">
                        <label style="width: 100%;padding-right: 10px;" for="name">仓库仓位信息

                        </label>

                        <div class="femi-tb-scroll">
                            <table class="table table-bordered table-partApproval">
                                <thead>
                                    <tr>
                                        <th style="min-width: 50px" data-order="WID">序号</th>
                                        <th style="min-width: 60px" data-order="StockName">仓库名称</th>
                                        <th style="min-width: 60px" data-order="LocationName">仓位名称</th>
                                        <th style="min-width: 70px" data-order="StockStatusID">物料状态</th>
                                        <th style="min-width: 70px" data-order="FQTY">数量</th>
                                    </tr>
                                </thead>
                                <tbody id="" class="table-color">
                                    <tr v-for="item in HisStoreList">
                                        <td data-title="WID" :data-value=item.WID>{{item.WID}}</td>
                                        <td data-title="StockName" :data-value=item.StockName>{{item.StockName}}
                                        </td>
                                        <td data-title="LocationName" :data-value=item.LocationName>
                                            {{item.LocationName}}
                                        </td>
                                        <td data-title="StockStatusID" :data-value=item.StockStatusID>
                                            {{StatusHisList[item.StockStatus]}}
                                        </td>
                                        <td data-title="FQTY" :data-value=item.FQTY>{{item.FQTY}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <script type="text/javascript" src="../static/utils/require.js"></script>
    <script type="text/javascript" src="../static/js/product_plan/ProductStorage.js"></script>
</body>

</html>