html {
    height: 100%;
}

body {
    width: 100%;
    height: calc(100% - 10px);
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
    min-width: 1000px;
}

.fxy-right-content {
    background-color: white;
    width: calc(100% - 10px);
    height: 100%;
    margin: 5px 5px 0 5px;
    padding: 0 10px 5px 10px;
    overflow-y: auto;
}

.fxy-head {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}

.fxy-head > .title {
    font-size: 26px;
    font-weight: bold;
    color: rgb(133, 133, 133);
}

.green {
    color: rgb(81, 211, 81);
    font-weight: bold;
}

.red-font {
    color: rgb(217, 0, 27);
}

.fxy-entirety {
    width: 100%;
    margin: 30px auto;
}

.fxy-entirety > .title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
}

.fxy-carriage {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.fxy-carriage > .carriage-list {
    width: 12%;
    height: 260px;
}

.fxy-carriage > .carriage-list > .carriage {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fxy-carriage > .carriage-list > .carriage > .box {
    width: 80%;
    height: 70%;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fxy-carriage > .carriage-list > .carriage > .wheel {
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-around;
}

.fxy-carriage > .carriage-list > .carriage > .wheel > div {
    width: 50%;
    height: 100%;
    display: flex;
}

.fxy-carriage > .carriage-list > .carriage > .wheel > div > div {
    width: 28%;
    height: 80%;
    border-radius: 50%;
    border: 1px solid #000000;
    margin: 0 5%;
}

.fxy-carriage > .carriage-list > .carriage > .wheel > .right {
    flex-direction: row-reverse;
}

.fxy-carriage > .carriage-list > .light {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-around;
}

.carriage-list > .light > div {
    width: 48%;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.light > div > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top > .yellow,
.bottom > .yellow {
    width: 80%;
    border: 10px solid yellow;

    display: flex;
    justify-content: center;
    align-items: center;
}
.top > .yellow{
    border-top: none;
}
.bottom > .yellow{
    border-bottom: none;
}

.top > .yellow.error,
.bottom > .yellow.error {
    border-color: red;
}

.restError {
    background-color: red;
}

.restError .top > .yellow,
.restError .bottom > .yellow {
    border-color: transparent !important;
}


.alarm-light {
    border: 1px solid #000000;
    width: 30px;
    height: 30px;
    margin: 10px 0;
}

.Reacttop {
    width: 40px;
    height: 0px;
    margin-top: 15px;
    margin-left: -5px;
    border-bottom: 1px solid darkgray;
    transform: rotate(
            45deg
    );
}

.Reactbottom {
    width: 36px;
    height: 1px;
    margin-top: -1px;
    margin-left: -4px;
    border-bottom: 1px solid darkgray;
    transform: rotate(
            -45deg
    );
}

.alarm-light.error {
    background-color: red;
}

.alarm-light.error .Reacttop,
.alarm-light.error .Reactbottom {
    border-color: #ccc;
}

/*公共样式-start*/
th {
    background-color: rgb(215, 215, 215);
    border-color: rgb(233, 233, 233);
    text-align: center;
}

td {
    text-align: center;
}

.circle {
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red !important;
}

.gray {
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: rgb(102, 102, 102);
    margin: 10px 0;
}

.borders {
    border: 1px solid rgb(233, 233, 233);
    padding: 10px;
}

.red {
    background-color: red !important;
}

.green {
    color: rgb(112, 182, 3) !important;
}

[v-cloak] {
    　　display: none
}

.lmvt-def-btn {
    color: #0ea9f7;
    background-color: #ffffff;
    border-color: #0ea9f7;
    opacity: 0.8;
}

.click {
    display: flex;
    justify-content: space-around;
}

.lookOver {
    color: #0ea9f7;
    cursor: pointer;
}

.status {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.status-hue {
    width: 10px;
    height: 10px;
    margin: 0;
    border-radius: 50%;
    margin: 0 10px;
}

.StatusText {
    margin: 0 10px;
}

/*公共样式-end*/

/* 最上层标题-start */

.fxy-right-content > .fxy-time {
    padding-top: 10px;
    font-size: 22px;
    color: rgb(102, 102, 102);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fxy-time > span {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.fxy-time > .time-newdate {
    font-size: 16px;
}


/* 最上层标题-end */
.moveche-vehicle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* 最上层标题-start */
.fxy-move {
    width: 49%;
    height: 370px;
    display: inline-block;
}

.fxy-move > .fxy-time {
    margin: 1% 0;
    font-size: 16px;
    font-weight: bold;
    color: rgb(102, 102, 102);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fxy-move .fxy-time > span {
    margin: 0;
    display: flex;
    align-items: center;
}

.fxy-move span > .glyphicon-record {
    color: gray;
}

.fxy-move .fxy-time > .time-newdate {
    font-size: 16px;
}


/* 最上层标题-end */


/* 架车机模型-start */

.fxy-move > .fxy-diagrammatic {
    width: 100%;
    height: 390px;
    display: flex;
    justify-content: space-around;
    margin: 1% 0;
}

.fxy-move > .fxy-diagrammatic > .box {
    width: 180px;
    height: 300px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fxy-move .box > .warp {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
}

.fxy-move .warp > .light {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fxy-move .light > .number {
    width: 30%;
    height: 20%;
    font-size: 14px;
    text-align: center;
}

.fxy-move .light > .yellow {
    width: 70%;
    height: 20%;
    background-color: rgb(255, 255, 0);
    border: 1px solid #000000;
}

.fxy-move .light > .green {
    width: 100%;
    height: 35%;
    background-color: rgb(112, 182, 3);
    border: 1px solid #000000;
}

.fxy-move .light > .white {
    width: 50%;
    height: 25%;
    border: 1px solid #000000;
    background-color: white;
}

.fxy-move .box > .middle {
    width: 80%;
    height: 25%;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*表格*/
/*高度/限位切换-start*/
.fxy-button {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 34px;
    align-items: center;
    margin: 10px 0;
    padding-right: 10px;
}

/*高度/限位切换-end*/

/*整体式架车机高度-start*/
.fxy-height {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fxy-height > .altitude {
    width: 20%;
}

.fxy-height > .abrasion {
    width: 38%;
}

.fxy-height > .jam-nut {
    width: 20%;
}

.fxy-height > .work-nut {
    width: 20%;
}

/*整体式架车机高度-end*/

/*整体式架车机限位-start*/
.fxy-Limit {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fxy-Limit > .Limit-alarm {
    width: 79%;
}

.fxy-Limit > .pressure {
    width: 20%;
}

/*整体式架车机限位-end*/

/*整体式架车机螺母-start*/
.fxy-nut {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fxy-nut > .jam-nut {
    width: 24%;
}

.fxy-nut > .work-nut {
    width: 25%;
}

.fxy-nut > .overheat {
    width: 25%;
}

.fxy-nut > .hyperflow {
    width: 24%;
}

/*整体式架车机螺母-end*/
