body {
     width:100%;
    height:100%;
    padding:0;
    margin:0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.zace-cbd-contain{
	height: 100%;	

}

.zace-tree-header {
    height: 45px;
    text-align: center;
    width: 100%;
    padding: 10px 10px 0px;
    overflow: hidden;
}

.zace-tree-body {
    width: 100%;
    height: 100%;
    margin-top: -45px;
    padding: 50px 10px 5px 10px;

}
.zace-tree-bodyOne {
    width: 100%;
    height: 100%;
    margin-top: -5px;
    padding: 0px 10px 0px 10px;

}

.zace-tree-header .femi-toolbar-self {
    height:34px;
}

.zace-tree-header .btn-group {
    height:34px;
}

.zace-tree-header .btn-default {
    height:34px;
}


.zace-tree-header .zace-left {
    padding-right:0px;
}

.zace-header-title {  
    /*font-family: STXinwei;
	font-size: 20px;
    color: #00688B;
	width:200px;
	line-height: 40px;
	cursor:default;
	margin: 0px;
	text-align:center;
	position: absolute;
	left: 50%;
	margin-left: -100px;*/
    font-family: STXinwei;
	font-size: 20px;
    color: #00688B;
	width:200px;
	line-height: 40px;
	cursor:default;
	text-align:center;
    margin:auto;
    height:40px;
}

.zace-headerleft-title {
    font-size: 20px;
    color: #000000;
    font-family: STXinwei;
    line-height: 40px;
    cursor: default;
    text-align: left;
    margin: auto;
    height: 40px;
}
.ConditiontextLeft {
    color: #00688B;
}
/*.zace-zace-zace{

    margin-top:-5px;
}*/
.zace-schedule-text {
    padding-top: 5px;
}
.zace-schedule-text  span{
    text-align:center;
    vertical-align:middle;
    font-size:16px;
}




div.zace-text {
    display:inline;
    /*float:left;*/
    margin-left:5px;
    height:30px;
}

div.zace-text span{
    text-align:center;
    vertical-align:middle;
    /*font-family:8px;*/
    
}
.zzzz{
    /*padding:5px;*/
     text-align:center;
    vertical-align:middle;
}
.zace-cbd-containHead{

    height:45px;
    width:100%;
    /*background-color:blue;*/
}
.zace-bottom-zace{

    width: 100%;
    height: 100%;
    /*margin-top: -45px;
    padding: 50px 2px 2px 2px;*/

}

.zace-cbd-containPart{

    height:50%;
    width:100%;
}
.zace-cbd-containPoint{

    height:50%;
    width:100%;
}

.zace-femiClass{
    height:100%;

}

.zace-leftContain{

    width: 100%;
    height: 100%;  
    padding: 5px;


}

.lmvt-gantt {
    width: 100%;
    height: 100%;
}

.left-middle-left {
    width: auto;
    height: 100%;
    overflow: auto;
    /*float:left;*/
    /*background-color:red;*/
}
.lmvt-container-gantt {
    width: 100%;
    height: 100%;
    overflow: auto;
    /*float:left;*/
    /*background-color:red;*/
}
.lmvt-bord {
    width: 100%;
    height: 100%;
}
.right-middle-right {
    width: 400px;
    height: 100%;
    overflow: auto;
    float: right;
    /*background-color:green;*/
}

.middleContain{
     width: 100%;	
	height: 100%;

}
.zace-orderTaskLine,.zace-orderSchedule,.zace-orderTablePartShow,.zace-orderTablePartShowItem,.lmvt-container-gantt{

    height:100%;
    width:100%;
}

.left-middle-leftItem {
    width: auto;
    height: 100%;
    overflow: auto;
    /*float:left;*/
    /*background-color:red;*/
}
.lmvt-container-gantt {
    width: 100%;
    height: 100%;
    overflow: auto;
    /*float:left;*/
    /*background-color:red;*/
}

.right-middle-rightItem{
     width: 400px;	
	height: 100%;
    overflow:auto;
    float:right;
   /*background-color:green;*/
}