body {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}
.cby-cbd-contain{
	height: 100%;	

}
.femi-left{
	width: 300px;
	padding: 3px 7px;  
	height: 100%;
}
.femi-border-contain{
	height: 100%;
	padding-right: 5px;
}
.femi-tree-head{ 
	padding-left: 20px;
	height: 30px;
}
.femi-tree-body{
	height: 100%;
	margin-top: -30px;
	padding-top: 30px;
}
.femi-tree-body .femi-tree-contain{
	height: 100%;
	overflow: auto;
}
.femi-full-bd{
	width: auto;
	height: 100%
}
.cby-charf-down{
    height: 100%;
    margin-left: 300px;
    padding: 5px;
}
.cby-charf-down .femi-contain-border{
    height: 100%;
}
.femi-bd-half-left,.femi-bd-half-right{
	
	padding: 3px 5px;
	height: 100%;
	overflow: auto;
}
.femi-bd-half-left{
	width:auto;
}
.cby-tree-header {
    height: 45px;
    text-align: center;
    width: 100%;
    padding: 10px 10px 0px;
    overflow: hidden;
}
.cby-tree-body {
    width: 100%;
    height: 90%;
    margin-top: -45px;
    padding: 50px 10px 5px 10px;

}
.cby-left{
    float:left;
    padding-right:0px;
}

.cby-header-title { 
    font-family: STXinwei;
	font-size: 20px;
    color: #00688B;
	width:200px;
	line-height: 40px;
	cursor:default;
	text-align:center;
    margin:auto;
    height:40px;
}
.cby-tree-tooltip{
	list-style: none;
	border: 1px solid #968f8f;
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px;
    align-items: center;
    border-radius: 5px;
}
.cby-tree-tooltip li{
	
    width: 150px;
    text-align: center;
}
.cby-tree-tooltip .cby-border-class{
	border-bottom: 1px solid #c4c2c2;
}
.cby-tree-tooltip li span{
	font-family: auto;
    font-size: larger;
    font-weight: 500;
}
.td-contain{
  
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-content:center;
    
}
.td-contain-list{
    font-size: 15px;
    font-family: cursive;
    color: #2d6991;
    font-weight: bold;
    text-decoration: underline;
}
.td-contain-list:hover{
    color: red;
}
.cby-tree-tooltip{
    position: absolute;
}
.cby-downRoute-list{
    list-style: none;
    display: none;
}
.cby-downRoute-lists{
    position: relative;
}
.cby-downRoute-list{
    position: absolute;
}

.table-part{
    height: 9%;
    margin-top: 3px;
}

.active span{
    color: #43A2FF !important;
}
.cby-number-show{
    height: 30px;
    width: 30px;
    text-align: center;
    /* border: 1px solid #00688b; */
    /* border-radius: 3px; */
    /* border: 1px solid #ccc; */
    line-height: 30px;
}
.cby-number-show span{
    line-height: 30px;
    color: #5D5E5E;
}
.cby-off-show{
    border:none;
}
.cby-paging-body{
    /* position: fixed;
    bottom: 10%;
    left: 45%; */
}
.cby-paging li{
    margin: 0px;
    font-size: 15px;
}
.cby-paging li input{
    width: 40px;
    height: 30px;
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding-top: 1px;
    color: #5D5E5E;
    background-color: white;
}
.line-limit-length {  
    table-layout: fixed; 
}  

.line-limit-length tr .cby-limit-length {  
    text-overflow: ellipsis; /* for IE */  
    -moz-text-overflow: ellipsis; /* for Firefox,mozilla */  
    overflow: hidden;  
    white-space: nowrap;  
    /* border: 1px solid;   */
    /* text-align: left   */
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
  }
  .tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #5cb85c;
  }
  tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #5cb85c;
    border-radius: 4px;
  }