.fzy-popup-form .el-upload-list--picture-card > .el-upload-list__item{
    width: 100px;
    height: 100px;
}
.fzy-popup-form .el-upload--picture-card{
    width: 100px;
    height: 100px;
    line-height: 100px;
}
.fzy-popup-form .el-upload-list__item.is-ready {
    display: none;
}