<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>能耗统计</title>
  <link href="../static/utils/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="../static/utils/css/base.css" rel="stylesheet" type="text/css"/>
  <link href="../static/utils/css/element-ui.css" rel="stylesheet" type="text/css"/>
  <link href="../static/css/common/fzy/element-cover.css" rel="stylesheet" type="text/css"/>
  <link href="../static/css/common/fzy/common.css" rel="stylesheet" type="text/css"/>
  <link href="../static/css/statementAnalysis/energyConsumption.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="energyConsumption" class="fzy-page">

  <div class="fzy-search-bar">

    <div class="input-select-box input-box-200">
      <div class="label">统计类型</div>
      <el-select v-model="searchData.StatType" placeholder="请选择">
        <el-option
            v-for="item in  selectOptions.StatTypeList"
            :key="item.ID"
            :label="item.Name"
            :value="item.ID"
        ></el-option>
      </el-select>
    </div>

    <div class="input-date-box input-box-400">
      <div class="label">时间</div>
      <el-date-picker
          v-model="searchData.StartTime"
          :type="pickerOptions.type"
          :format="pickerOptions.format"
          :clearable="false"
          @change="pickerChange"
      >
      </el-date-picker>
      <span style="margin: auto;">至</span>
      <el-date-picker
          v-model="searchData.EndTime"
          :type="pickerOptions.type"
          :format="pickerOptions.format"
          :clearable="false"
          @change="pickerChange"
      >
      </el-date-picker>
    </div>

    <div class="input-select-box input-box-300">
      <div class="label">区域</div>
      <el-select v-model="searchData.AreaID" clearable filterable placeholder="请选择">
        <el-option
            v-for="item in  selectOptions.AreaList"
            :key="item.ID"
            :label="item.Name"
            :value="item.ID"
        ></el-option>
      </el-select>
    </div>

    <div class="input-select-box input-box-300">
      <div class="label">设备</div>
      <el-select v-model="searchData.DeviceID" multiple clearable filterable placeholder="请选择">
        <el-option
            v-for="item in DeviceListShow"
            :key="item.ID"
            :label="item.Name"
            :value="item.ID"
        ></el-option>
      </el-select>
    </div>

    <div class="button-box">
      <button class="btn lmvt-danger-btn" style="border: 0" type="button" @click="search">
        <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
        查询
      </button>

      <button
          class="btn lmvt-def-btn"
          type="button"
          @click="emptyClick"
      >
        <span aria-hidden="true" class="glyphicon glyphicon-repeat"></span>
        重置
      </button>
    </div>

  </div>

  <div class="fzy-page-center-box">
    <div class="fzy-page-center-title-bar">
      <div class="left">
        <span class="fzy-title">能耗统计</span>
      </div>
    </div>
    <el-table
        :data="tableData"
        size="mini"
        border
        height="275px"
    >
      <el-table-column type="index" label="序号" width="50" align="center"></el-table-column>
      <el-table-column prop="DeviceName" label="设备名称" align="center"></el-table-column>
      <el-table-column prop="DeviceNo" label="设备编码" align="center"></el-table-column>
      <el-table-column prop="StatType" label="统计类型" :formatter="formatter" align="center"></el-table-column>
      <el-table-column prop="EnergyType" label="能源类型" :formatter="formatter" align="center"></el-table-column>
      <el-table-column prop="StatConsumption" label="统计消耗" align="center"></el-table-column>
      <el-table-column prop="StatStartDate" label="开始时间" align="center"></el-table-column>
      <el-table-column prop="StatEndDate" label="结束时间" align="center"></el-table-column>
      <el-table-column prop="UpdateTime" label="更新时间" align="center"></el-table-column>
    </el-table>

    <div class="fzy-divider"></div>

    <div class="fzy-statistical-box">
      <div class="fzy-statistical-echarts"></div>
    </div>
  </div>


</div>


<script src="../static/utils/require.js" type="text/javascript"></script>
<script type="text/javascript" src="../static/js/statementAnalysis/EnergyConsumption.js"></script>
</body>
</html>
